<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Editar Publicaci&oacute;n</h1>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>

<!-- si es edición, no tomo la ubicación actual del GPS -->
<script>
  $(document).ready(function()
  {
      // crear el mapa
      createMap(<%=raw @hash.to_json %>, 14);
      addMarkerOnClick();
  });
</script>