<h1>Publicaciones</h1>

<% @publication.each do |publication| %>
	<h3>
		<%= link_to publication.description, publication_path(publication) %>
        
		</a>
	</h3>
<% end %>

<%= link_to 'Nueva Publicación', new_publication_path%>

<% if user_signed_in? %>
Usuario: <%= current_user.email %>
<%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete%>
<% end %>