<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Publicaci&oacute;n nueva</h1>
  </div>
    
  <div class="panel-body" id="body-new-publication">
    <%= render 'form' %>
  </div>
    
</div>

<!-- toma la ubicación actual mediante el navegador cuando es una publicación nueva -->
<script>
  $(document).ready(function()
  {
    // crear el mapa
    createMap(null, 14);
    centerMap();
    addMarkerOnClick();
    getLocation();
  });
</script>